<p>
  <strong>Name:</strong>
  <%= @idea.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
 <div class="row">
 	<div class="col-md-3">
 	 <strong>Picture:</strong>
	</div>

	<div>
  		<%= image_tag(@idea.picture_url, :width => 600) if @idea.picture.present? %>
	</div>
	 
  </div>
</p>

<%= commontator_thread(@idea) %>
